#About,#Partners{
    min-height:80vh;
    background-color:white;
    
}

.img,.img22{
    height:400px;
}

.title{
    color: #000066;
}
textarea {
	resize: none;
}

.par{
    color: #fec748;
    font-weight: bold;
}


