#app { height: 100% }
html,
body {
  position: relative;

}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 120vh;
  height: 70vh;
}

.swiper-slide {
  background-position: center;
  background-size: 100vh;
  margin-top: 80px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


h1{
    font-size: 40px;
}

