.form-control{
    background-color:rgba(255,255,255,0.4);
    border: none;
    margin-top: 35px;
    width: 500px;
}
.btn-primary{
    margin-left: 400px;
    margin-top: 20px;
    background-color:rgba(252,200,78);
    color: blue;

}
.a{
    margin-left: 200px;
    font-size: 20px;
    margin-bottom: -5px;

}
form{
    background-color: cornsilk;
}