#app { height: 100% }
html,
body {
  position: relative;

}

body {
  font-family: cursive;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  margin-top:50px;
  width: 180vh;
  height: 80vh;
}

.swiper-slide {
  background-position: center;
  background-size: 100vh;
  margin-top: 80px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


h1{
    font-size: 50px;
    margin-left: 15px;
}
.col-lg-5{
 margin-top: -30px;

}
button{
  margin-left: 100px;
  font-size: 20px;
  background-color:#253f58;
  color: white;
  margin-top: 10px;
  border:none;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius:15px;
}
h1{
  margin-left:  20px;
  font-size: 40px;
}
.dish{
  font-size: 20px;
  color:#fec748;
  font-weight: bold;
}
